*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.burger {
  border-bottom: 2px solid #fff;
  display: block;
  width: 15px;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all 1s ease; }
  .burger::before {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 15px;
    margin-bottom: .3rem; }
  .burger::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 15px;
    margin-bottom: .3rem; }
  .burger .rotate {
    transform: rotate(180deg); }

.side-menu {
  position: absolute;
  top: 97%;
  width: 24%;
  text-align: left;
  z-index: 1; }
  .side-menu__item {
    padding: 1.5rem 1rem;
    position: relative; }
    .side-menu__item:not(:last-child) {
      border-bottom: 1px dotted rgba(128, 128, 128, 0.35); }
    .side-menu__item:hover .slide1-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(1%); }
    .side-menu__item:hover .menu5 {
      opacity: 1;
      visibility: visible;
      transform: translateX(1%); }
  .side-menu__link, .side-menu:active, .side-menu:visited {
    text-decoration: none;
    color: #343748;
    font-size: 1.5rem;
    font-weight: 500; }
    .side-menu__link:hover, .side-menu:active:hover, .side-menu:visited:hover {
      color: #ff5f2b;
      fill: #ff5f2b; }

.icon-top {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: .8rem;
  margin-left: -0.7rem; }
  .icon-top:hover {
    fill: #fff; }

.icon-money {
  width: 1.3rem;
  height: 1.3rem; }

.icon-arowlang {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 9%;
  top: 34%; }

.icon-arowmoney {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 33%;
  top: 13%; }

.flag {
  width: 1.6rem;
  height: 1rem; }

.header-bottom__call-icon {
  width: 2.5rem;
  height: 2.5rem; }

.icon-search {
  width: 2rem;
  height: 2rem;
  fill: #fff; }

.icon-reg {
  width: 3rem;
  height: 3rem; }

.icon-shop {
  width: 3rem;
  height: 3rem;
  margin-right: 7rem; }

.side-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 8%;
  top: 38%;
  transform: rotate(269deg); }

.slide-menuwrap {
  display: flex;
  justify-content: space-between; }

.slide1-menu {
  width: 59rem;
  background-color: #fff;
  z-index: 1;
  left: 101%;
  top: 6%;
  position: absolute;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease; }
  .slide1-menu__img {
    width: 100%;
    background-image: url(/img/banner-ball.jpg);
    background-size: cover;
    padding: 4rem 2rem;
    background-position-y: 46%; }
    .slide1-menu__img-link {
      text-decoration: none; }
      .slide1-menu__img-link span {
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 2px;
        display: block;
        width: 60%; }

.slide-menu {
  width: 54rem;
  background-color: #fff;
  z-index: 1;
  right: 68%;
  top: 73%;
  position: absolute;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease; }
  .slide-menu__img {
    width: 100%;
    background-image: url(/img/banner-ball.jpg);
    background-size: cover;
    padding: 8rem 3rem; }
    .slide-menu__img-link {
      text-decoration: none; }
      .slide-menu__img-link span {
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 2px;
        display: block;
        width: 60%; }

.menu1__item {
  padding: .5rem 0; }

.menu1__link {
  text-decoration: none;
  color: #343748; }
  .menu1__link:hover {
    color: #ff5f2b; }
  .menu1__link h1 {
    font-size: 1.6rem;
    color: #343748; }
    .menu1__link h1:hover {
      color: #ff5f2b; }

.menu2__item {
  padding: .5rem 0; }

.menu2__link {
  text-decoration: none;
  color: #343748; }
  .menu2__link:hover {
    color: #ff5f2b; }
  .menu2__link h1 {
    font-size: 1.6rem;
    color: #343748; }
    .menu2__link h1:hover {
      color: #ff5f2b; }

.menu3__item {
  padding: .5rem 0; }

.menu3__link {
  text-decoration: none;
  color: #343748; }
  .menu3__link:hover {
    color: #ff5f2b; }
  .menu3__link h1 {
    font-size: 1.6rem;
    color: #343748; }
    .menu3__link h1:hover {
      color: #ff5f2b; }

.menu5 {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  background-color: #fff;
  width: 59%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease; }
  .menu5__item {
    padding: 1rem 2rem; }
  .menu5__link {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.51); }
    .menu5__link:hover {
      color: #ff5f2b; }

.menu4 {
  position: absolute;
  top: 83%;
  left: 14%;
  z-index: 1;
  background-color: #fff;
  width: 33%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease; }
  .menu4__item {
    padding: 1rem 2rem; }
  .menu4__link {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.51); }
    .menu4__link:hover {
      color: #ff5f2b; }

.header-topwrap {
  border-bottom: 1px solid rgba(128, 128, 128, 0.35); }

.header-top {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem; }
  .header-top__social {
    flex: 0 0 80%;
    border-right: 1px solid rgba(128, 128, 128, 0.35);
    padding: 1rem 0; }
    .header-top__social-list-item {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      text-align: center;
      padding: 0 2rem; }
      .header-top__social-list-item:hover {
        background-color: #ff5f2b;
        border-radius: 5px; }
  .header-top__lang {
    flex: 0 0 11%;
    cursor: pointer;
    position: relative;
    border-right: 1px solid rgba(128, 128, 128, 0.35);
    padding: 1.5rem 0;
    display: flex;
    justify-content: center; }
    .header-top__lang-country {
      margin-left: -1.5rem; }
      .header-top__lang-country-item:hover {
        color: #ff5f2b; }
  .header-top__money {
    flex: 0 0 10%;
    justify-content: center;
    cursor: pointer;
    position: relative; }
    .header-top__money-money {
      padding: 0 2rem; }
      .header-top__money-money:hover {
        color: #ff5f2b; }

.header-bottom {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .header-bottom__logo {
    width: 50%; }
  .header-bottom__call {
    margin-right: 3rem;
    font-size: 1.4rem;
    cursor: pointer; }
    .header-bottom__call:hover {
      fill: #ff5f2b; }
    .header-bottom__call-text {
      font-size: 1.3rem;
      color: rgba(128, 128, 128, 0.84);
      letter-spacing: 1px; }
      .header-bottom__call-text span {
        color: #343748;
        font-weight: 600;
        font-size: 1.4rem; }
  .header-bottom__nav {
    position: relative; }
    .header-bottom__nav-list {
      padding: 2rem 2rem;
      font-size: 1.4rem;
      font-weight: 500; }
    .header-bottom__nav-item {
      display: inline-block;
      padding: 0 1.5rem; }
      .header-bottom__nav-item:not(:last-child) {
        border-right: 1px solid rgba(128, 128, 128, 0.35); }
      .header-bottom__nav-item:hover .slide-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(1%); }
      .header-bottom__nav-item:hover .menu4 {
        opacity: 1;
        visibility: visible;
        transform: translateY(1%); }
    .header-bottom__nav-link,
    .header-bottom__nav :visited,
    .header-bottom__nav :active {
      text-decoration: none;
      color: #000; }
      .header-bottom__nav-link:hover,
      .header-bottom__nav :visited:hover,
      .header-bottom__nav :active:hover {
        color: #ff5f2b; }

.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.searchwrap {
  background-color: #343748; }

.search-barwrap {
  display: flex;
  padding: 1rem 0 0 0;
  position: relative;
  max-width: 120rem;
  margin: 0 auto; }
  .search-barwrap__nav {
    background-color: #ff5f2b;
    flex: 0 0 22%;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1.77rem 1.3rem;
    margin-top: -1rem;
    position: relative; }
  .search-barwrap__link {
    text-decoration: none;
    color: #fff; }
  .search-barwrap__input {
    flex: 0 0 60%;
    position: relative;
    margin: 0 auto; }
    .search-barwrap__input-input {
      width: 100%;
      border: none;
      background-color: #fff;
      border-radius: 5px;
      outline: none;
      padding: 1.1rem 0; }
      .search-barwrap__input-input::-webkit-input-placeholder {
        color: rgba(128, 128, 128, 0.35);
        padding: 3rem;
        font-weight: 400;
        font-size: 1.6rem; }
  .search-barwrap__btn {
    position: absolute;
    top: 6.5%;
    right: 1%;
    background-color: #ff5f2b;
    border: none;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    cursor: pointer; }
    .search-barwrap__btn:hover {
      background-color: #343748; }
  .search-barwrap__reg-shop {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    fill: #fff;
    color: #fff;
    position: relative;
    margin-top: -1rem; }
    .search-barwrap__reg-shop--reg:hover {
      fill: #ff5f2b; }
    .search-barwrap__reg-shop--shop:hover {
      fill: #ff5f2b; }
  .search-barwrap .cost {
    position: absolute;
    top: 29%;
    right: 17%; }
  .search-barwrap .item-shop {
    position: absolute;
    top: 47%;
    left: 47%;
    background-color: #ff5f2b;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center; }
