$dark-color1: #343748;
$header-background: #fff;
$social-header: #000;
$logo-text: #343748;
$logo-color: #ff5f2b;
$menu-color: rgba(128, 128, 128, 0.51);

$header-border: rgba(128, 128, 128, 0.35);

$button-color:rgba(40,42,55,.9);