$dark-color1: #343748;
$header-background: #fff;
$social-header: #000;
$logo-text: #343748;
$logo-color: #ff5f2b;
$menu-color: rgba(128, 128, 128, 0.51);

$header-border: rgba(128, 128, 128, 0.35);

$button-color:rgba(40,42,55,.9);

$features-backgroud:#f5f5f5;
$item-header-color: #828592;
$item-header-color1: rgba(197, 200, 214, 0.29);
$item-header-colo2: rgba(130, 133, 146, 0.2);
$date-color:#343748;
$brand-slider-line:#494b5b;
$brand-slider-bg:#2f3447;

