.footer{
  width: 100%;
  background-color: $header-background;


  //test
  height: 500px;
  &__top{
    @include center;
    display: flex;
    &--item{
      width: 25%;
      padding:7rem 1rem;
      position: relative;
      &:not(:last-of-type){
        border-right:1px solid #e5e5e5;
      }
      &:nth-child(1) li{
        padding: 2.2rem 0;
      }
      &:nth-child(4){
        position: relative;
        & li:nth-child(2){
          position: relative;
        }
      }

      &-heading{
        margin-bottom: 20px;
        font-size: 1.7rem;
      }
      &-list{
        color: $menu-color;
        font-size: 1.4rem;
        &-item{
          padding: 1rem 0;
          & span{
            margin-left: 23px;
          }
        }
        &-link{
          text-decoration: none;
          color: $menu-color;
          position: relative;
          font-size: 1.4rem;
          &:hover::before{
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 17px;
            background-color: $logo-color;
            top: 9%;
            left: -11px;
          }
          &:hover{
            color: $logo-color;
          }
        }
      }
      &-input{
        width: 80%;
        margin: 0 auto;
        height: 43px;
        border:2px solid $item-header-color1;
        border-radius: 5px;
        outline: none;
        &::placeholder{
          color: rgba(115, 118, 132, 0.28);
          font-size: 1.5rem;
          padding-left: 10px;
        }
        &:focus{
          border: 2px solid $logo-color;
          background-color: $header-background;
          padding-left: 10px;
        }
      }
      &-inputbtn{
        width: 49px;
        height: 34px;
        position: absolute;
        top: 22%;
        right: 22%;
        background-color: $logo-color;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        &:hover{
          background-color: $button-color;
        }
      }
      .social__list{
        &-item{
          display: inline-block;
          margin-right: 10px;
          background-color: $button-color;
          width: 4rem;
          height: 4rem;
          position: relative;
          border-radius: 8px;

          &--link{

            & img{
              width:3rem;
              height: 3rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }


  }
.black{
  color: black;
  margin-right: 5px;
}






  &__bottom{
    outline: 1px solid yellowgreen;


    //test
    height: 100px;
  }


}