.container-features{
  background-color: $features-backgroud;
}
.section-item{
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: 0 1rem  2rem rgba(0,0,0, 0.2);
  padding-top: 5rem;



  //test
  height: 80rem;
  outline: 1px solid orangered;
}