.banner-btn{
  text-align: left;
  &__btn{
    font-size: 1.7rem;
    color: $header-background;
    text-decoration: none;
    background-color: $button-color;
    padding: 1rem 2rem;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    &:hover{
      background-color: $logo-color;
    }
  }
}