.header-mobilewrap {
  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 1px solid purple;

    &--btn {
      width: 20%;
      text-align: center;
    }
    &--logo {
      width:60%;
      text-align: center;
    }
    &--regform {
      width: 20%;
      display: flex;
      position: relative;
      justify-content: center;
      .item-count{
        background-color: $logo-color;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        font-size: 1rem;
        color: $header-background;
        text-align: center;
        font-weight: 500;
        position: absolute;
        left: 67%;
        top: -6%;
      }
    }
  }
  &__bottom{
    padding: 0 2rem;
    position: relative;
    z-index: 1;

    //test
    outline: 1px solid orangered;


    &--list{

      &-img{
        width: 54rem;
        height: 13rem;
        overflow: hidden;
        background-image: url(/img/banner-ball.jpg);
        background-size: cover;
        background-position: center center;
        & span{
            padding: 2rem ;
        }
      }
      }
    &--item{
      padding: 1rem 0;
      position: relative;

    }
    &--link{
      text-decoration: none;
      color: $button-color;
      &:hover{
        color: $logo-color;
      }
    }

    &--list2{
      padding: 0 3rem;
      display: none;

      &-item{
        padding: 1rem 0;
      }
      &-link{
        text-decoration: none;
        color: $button-color;
        &:hover{
          color: $logo-color;
        }
      }
    }
    &--list3{
      padding: 0 4rem;
      display: none;
      &-item{
        padding: 1rem 0;
      }
      &-link{
        text-decoration: none;
        color: $button-color;
        &:hover{
          color: $logo-color;
        }
      }
    }
  }





}



//mobile btn
.mobile__btn{
    width: 2rem;
    height: 2rem;
    background-color: initial;
    border: none;
    position: relative;
    outline: none;
  &--line{
    width: 100%;
    height: 2.5px;
    background-color: $item-header-color;
    display: block;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $item-header-color;
      top: -3px;
    }
    &::after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $item-header-color;
      top: 2px;
    }
  }
}

