.section-itembottom__header {
  background-color: $dark-color1;
  width: 100%;
  padding: 1rem 0;
  display: flex;

  &--list {

  }
  &--item {
    display: inline-block;
    padding: 0 2.5rem;
    position: relative;
    color: $item-header-color1;
    cursor: pointer;

    &:hover {
      color: $logo-color;
    }
    &:hover::before {
      transform: translateY(-40%);
      transition: all .3s ease;

    }
    &:not(:last-child) {
      border-right: 1px solid $header-border;
    }

  }
  &--link {
    color: $item-header-color;
    text-decoration: none;
  }
  &--item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -70%;
    left: 43%;
    height: 58%;
    width: 9%;
    background-color: #fff;
    -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
    clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
  }
  .orange {
    color: $logo-color;
  }
}

.bottom-part {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;

  &__special-products {
    width: 58%;
    overflow: hidden;
    &--header {
      width: 100%;
      background-color: $button-color;
      padding: 1rem 0;
      display: flex;
    }
    &--headername {
      color: $item-header-color;
      margin-left: 2rem;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -44%;
        left: 40%;
        height: 77%;
        width: 16%;
        background-color: #fff;
        -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
        clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
      }
    }
    &--controls {
      margin-left: auto;
      margin-right: 2rem;
      display: flex;
      align-items: center;
    }
    &--prev {
      width: 2rem;
      height: 1.5rem;
      border: none;
      background-color: $header-background;
      -webkit-clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      cursor: pointer;
    }
    &--next {
      width: 2rem;
      height: 1.5rem;
      background-color: $header-background;
      border: none;
      -webkit-clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      cursor: pointer;
    }
  }
}
#polosa{
  transition: all 1s ease;
  position: relative;
  left: 0;
}
.view-port-containerwrap {

  // display: -webkit-box;
  .polosa {
    display: -webkit-box;
    position: relative;
    left: 0;

  }
}

.view-port-container {
  outline: 4px solid #f5f5f5;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  position: relative;
  padding: 1rem;
  &:hover a {
    color: $logo-color;
  }
  &::before &--img {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #449fdb;
  }
  &__left {
    width: 46%;
    &--img {
      background-color: rgba(197, 200, 214, 0.29);
      margin: 1.2rem;
      cursor: pointer;
    }
    &--img1 {
      width: 100%;
      padding: 2rem;

    }
  }
  &__right {
    width: 52%;
    position: relative;
    .buy-wrap {
      padding: 1.3rem 1rem;
    }
    &--prodname {
      text-decoration: none;
      color: $item-header-color;
    }
    & div:nth-child(3) {
      margin-top: 12px;
    }
  }
  .time-container {
    margin-top: 8rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: flex-end;
    @include respond(tab-port){
      margin-top: 6rem;
    }
  }
  .box-style {
    color: $header-background;
    width: 8rem;
    height: 8rem;
    background-color: $button-color;
    font-size: 2rem;
    font-weight: 800;
    padding-top: 8px;
    border-radius: 6px;

    & p {
      margin-top: .5rem;
      border-top: 1px solid rgba(255, 255, 255, 0.46);
      font-size: 1.5rem;
      padding: .5rem 0;

    }
  }
}

.testimonials-wrap {
  width: 40%;
  overflow: hidden;

  &:hover .testimonials-wrap__bodywrap--top-img {
    outline: 3px solid $logo-color;
  }
  &:hover .testimonials-wrap__bodywrap--top-name {
    color: $logo-color;
  }
  .polosa1 {
    display: -webkit-box;
    position: relative;
  }
  &__header {
    width: 100%;
    background-color: $button-color;
    padding: 1rem 0;
    display: flex;
    &--name {
      color: $item-header-color;
      margin-left: 2rem;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -44%;
        left: 40%;
        height: 77%;
        width: 16%;
        background-color: #fff;
        -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
        clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
      }
    }
    &--controls {
      margin-left: auto;
      margin-right: 2rem;
      display: flex;
      align-items: center;
    }
    &--next {
      width: 2rem;
      height: 1.5rem;
      border: none;
      background-color: $header-background;
      -webkit-clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      cursor: pointer;
    }
    &--prev {
      width: 2rem;
      height: 1.5rem;
      background-color: $header-background;
      border: none;
      -webkit-clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      cursor: pointer;
    }
  }
  &__bodywrap {
    margin-top: 2.5rem;
    background-color: $features-backgroud;
    padding-bottom: 1.8rem;
    &--top {
      text-align: center;
      margin-bottom: 3.2rem;

      &-img {
        width: 25%;
        margin-top: 2.5rem;
        outline: 3px solid $button-color;
      }
      &-namepos {
        display: flex;
        flex-direction: column;
      }
      &-name {
        text-decoration: none;
        color: $item-header-color;
        font-size: 1.5rem;
        font-weight: bold;
      }
      &-position {
        text-decoration: none;
        color: $item-header-color;
        font-weight: lighter;
        font-size: 1.3rem;
      }
    }
    &--bottom {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: $item-header-color;
      font-size: 1.6rem;
      &-text {
        padding: 0 2rem;
      }
      &-list {
        display: inline-flex;
        margin-top: 2.5rem;
      }
      &-item {
        margin-right: 5px;
      }
      &-itembtn {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        background-color: $button-color;
        border: none;
        outline: none;
      }
      .active {
        outline: 2px solid $logo-color;
        position: relative;
        background-color: $header-background;
        &::after {
          content: "";
          position: absolute;
          display: block;
          background-color: $logo-color;
          width: .7rem;
          height: .7rem;
          left: 32%;
          top: 27%;
          @include respond(tab-land){
            left: 27%;
          }
        }
      }
    }
  }
}





























