.item-header__btns{
  margin-left: auto;
  margin-right: 4rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  @include respond(small-phone){
    margin-right: 2rem;
  }
  &--next{
    width: 2.5rem;
    height: 2rem;
    background-color: $header-background;
    border:none;
    margin-right: 1rem;
    -webkit-clip-path: polygon(100% 0, 33% 51%, 100% 100%);
    clip-path: polygon(100% 0, 33% 51%, 100% 100%);
    cursor: pointer;
    @include respond(tab-land){
      width: 3.5rem;
      height: 3rem;
    }
    &:hover{
      background-color: $logo-color;
    }
  }
  &--prev{
    width: 2.5rem;
    height: 2rem;
    background-color: $header-background;
    border:none;
    -webkit-clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
    clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
    cursor: pointer;
    @include respond(tab-land){
      width: 3.5rem;
      height: 3rem;
    }
    &:hover{
      background-color: $logo-color;
    }

  }

}