.section-itembottom__header {
  background-color: $dark-color1;
  width: 100%;
  padding: 1rem 0;
  display: flex;

  &--list {

  }
  &--item {
    display: inline-block;
    padding: 0 2.5rem;
    position: relative;
    color: $item-header-color1;
    cursor: pointer;

    &:hover {
      color: $logo-color;
    }
    &:hover::before {
      transform: translateY(-40%);
      transition: all .3s ease;

    }
    &:not(:last-child) {
      border-right: 1px solid $header-border;
    }

  }
  &--link {
    color: $item-header-color;
    text-decoration: none;
  }
  &--item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -70%;
    left: 43%;
    height: 58%;
    width: 9%;
    background-color: #fff;
    -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
    clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
  }
  .orange {
    color: $logo-color;
  }
}

.bottom-part {

  &__special-products {
    width: 60%;
    &--header {
      width: 100%;
      background-color: $button-color;
      padding: 1rem 0;
      display: flex;
    }
    &--headername {
      color: $item-header-color;
      margin-left: 2rem;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -44%;
        left: 40%;
        height: 77%;
        width: 16%;
        background-color: #fff;
        -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
        clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
      }
    }
    &--controls {
      margin-left: auto;
      margin-right: 2rem;
      display: flex;
      align-items: center;
    }
    &--prev {
      width: 2rem;
      height: 1.5rem;
      border: none;
      background-color: $header-background;
      -webkit-clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      clip-path: polygon(100% 0, 33% 51%, 100% 100%);
      cursor: pointer;
    }
    &--next {
      width: 2rem;
      height: 1.5rem;
      background-color: $header-background;
      border: none;
      -webkit-clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      clip-path: polygon(30% 2%, 100% 52%, 30% 100%);
      cursor: pointer;
    }
  }
}

.view-port-container {
  outline: 4px solid $features-backgroud;
  margin-top: 3rem;

  //test
  height: 500px;

  display: flex;
  justify-content: space-between;
  &--left {
    outline: 1px solid greenyellow;
    width: 46%;
  }
  &--right {
    outline: 1px solid palevioletred;
    width: 52%;

  }

}






























