.burger {
   border-bottom: 2px solid $header-background;
   display: block;
   width: 15px;
   margin-left: 2rem;
   margin-top: .7rem;
  transition: all 1s ease;

   &::before {
     content: "";
     display: block;
     border-bottom: 2px solid $header-background;
     width: 15px;
     margin-bottom: .3rem;

   }
   &::after {
     content: "";
     display: block;
     border-bottom: 2px solid $header-background;
     width: 15px;
     margin-bottom: .3rem;
   }
  .rotate{
    transform: rotate(180deg);
  }
 }

.side-menu{
  position: absolute;
  top: 97%;
  width: 22%;
  text-align: left;
  z-index: 1;
  background-color: $header-background;


  &__item{
    padding: 1.5rem 1rem;
    position: relative;
    &:not(:last-child){
      border-bottom: 1px dotted $header-border;
    }
    &:hover .slide1-menu{
      opacity: 1;
      visibility: visible;
      transform: translateX(1%);
    }
    &:hover .menu5{
      opacity: 1;
      visibility: visible;
      transform: translateX(1%);
    }

  }
  &__link,
  &:active,
  &:visited{
    text-decoration: none;
    color: $dark-color1;
    font-size: 1.5rem;
    font-weight: 500;
    &:hover{
      color: $logo-color;
      fill: $logo-color;
    }

  }


}