.section-item__header {
  background-color: $dark-color1;
  width: 100%;
  padding: 1rem 0;
  display: flex;

  &--list {

  }
  &--item {
    display: inline-block;
    padding: 0rem 2.5rem;
    position: relative;
    color: $item-header-color1;
    cursor: pointer;
    &:hover {
      color: $logo-color;
    }
    &:hover::before {
      transform: translateY(-40%);
      transition: all .3s ease;

    }
    &:not(:last-child) {
      border-right: 1px solid $header-border;
    }

  }
  &--link {
    color: $item-header-color;
    text-decoration: none;
  }
  &--item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -66%;
    left: 43%;
    height: 58%;
    width: 9%;
    background-color: #fff;
    -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
    clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
  }
}

.item__wraptop1 {
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-evenly;
  //flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  align-items: flex-end;


  &--list {
    display: inline-flex;
    justify-content: space-between;
  }
  &--item {
    display: inline-flex;
    position: relative;
    width: 24%;
    &:hover .item__wraptop1-icon{
      transform: translateY(-2.7rem);
      opacity: 0;
      transition: all 1s ;
    }
    &:hover .product-name{
      transform: translateY(-2.6rem);
      transition: all 1s ;
      color: $logo-color;
    }
    &:hover .item__wraptop1--pricewrap{
      transform: translateY(-2.6rem);
      transition: all 1s ;
    }
    &:hover .btn__buy{
      opacity: 1;
      transform: translateY(-2.3rem);
      transition: all 1s ;
    }
    &:nth-child(5){
      display: none;
    }
  }
  &--link {
    text-decoration: none;
    color: $dark-color1;
    font-weight: 500;

  }
  &--img {
    width: 100%;
    background-color: $item-header-color1;
    padding: 2rem;
  }
  &--pricewrap{
    text-align: left;
    .old-price{
      margin-left: 16px;
      color: $header-border;
      text-decoration: line-through;
  }

  }



.price {
  color: $social-header;
  margin-left: 15px;
}

.old-price {
}

.orange{
  color: $logo-color;
}

  /*
///Item-Slider
.item-slidrerwrap{

    height: auto;
  position: relative;
  &--list{
    outline: 1px solid orangered;
  }
  &--item{

  }
  &--link{
    text-decoration: none;
  }
  &--img{
    width: 23%;
    background-color: $item-header-color1;
    padding: 2rem;
  }

*/
}





























