.section-item__header {
  background-color: $dark-color1;
  width: 100%;
  padding: 1rem 0;
  display: flex;

  &--list {

  }
  &--item {
    display: inline-block;
    padding: 0rem 2.5rem;
    position: relative;
    color: $item-header-color1;
    cursor: pointer;
    &:hover {
      color: $logo-color;
    }
    &:hover::before {
      transform: translateY(-40%);
      transition: all .3s ease;

    }
    &:not(:last-child) {
      border-right: 1px solid $header-border;
    }

  }
  &--link {
    color: $item-header-color;
    text-decoration: none;
  }
  &--item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -66%;
    left: 43%;
    height: 58%;
    width: 9%;
    background-color: #fff;
    -webkit-clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
    clip-path: polygon(51% 53%, 96% 100%, 5% 100%);
  }
}

.item__wraptop1 {
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-evenly;
  //flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  &:hover .item__wraptop1--item{
    transform: translateX(0);
    transition: all 1s;
  }
  &--eye{
    background-color: $button-color;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 36%;
    left: 52%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    &:hover{
      background-color: $logo-color;
    }
  }

  &--list {
    display: inline-flex;
    justify-content: space-between;

  }
  &--sale {
    background-color: rgba(40, 42, 55, 0.9);
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fff;
    border-radius: 10px;
    width: 15%;
    font-size: 1.2rem;
    text-align: center;

  }
  &--item {
    display: inline-flex;
    position: relative;
    width: 24%;
    &:hover .item__wraptop1--eye{
      opacity: 1;
      transition: opacity .2s;
    }
    &:hover .item__wraptop1--img{
      opacity: .5;
      transition: opacity .2s;
    }


    &:hover .item__wraptop1-icon {
      transform: translateY(-2.7rem);
      opacity: 0;
      transition: all 1s;
    }
    &:hover .product-name {
      transform: translateY(-2.6rem);
      transition: all 1s;
      color: $logo-color;
    }
    &:hover .item__wraptop1--pricewrap {
      transform: translateY(-2.6rem);
      transition: all 1s;
    }
    &:hover .btn__buy {
      opacity: 1;
      transform: translateY(-2.3rem);
      transition: all 1s;
    }
    &:nth-child(5) {
     display: none;
    }
  }
  &--link {
    text-decoration: none;
    color: $dark-color1;
    font-weight: 500;

  }
  &--img {
    width: 100%;
    background-color: $item-header-color1;
    padding: 3rem;
  }
  &--pricewrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .old-price {
      color: $header-border;
      text-decoration: line-through;
    }
  }
  .price {
    color: $social-header;
  }

  .old-price {
  }
}

//wraptop2
.item__wraptop2 {
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-evenly;
  //flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
}
.orange {
  color: $logo-color;
}






























